package layouts

templ NavComponent() {
	<nav>Navigation</nav>
}

templ MainLayoutView(content templ.Component) {
	<html>
		<head>
			<style></style>
		</head>
		<body>
			@NavComponent()
			@content
		</body>
	</html>
}
